body {
    font-family: monospace;
    font-size: 50px;
    margin-left: 50px;
}

.board {
    width:  400px;
    height: 400px;
    margin-top: 50px;
}

.towerInput {
    border-color: rgb(233, 233, 233);
    color: grey;
}

.towerInput, .sight {
    --size: 60px;

    caret-color: transparent;
    min-width: var(--size);
    width: var(--size);
    min-height: var(--size);
    height: var(--size);
}

.sight {    
    border-color: rgb(53, 53, 53);
    border-style: dashed;
}

.sight:focus {
    outline: -webkit-focus-ring-color dashed 2px;
}

.towerInput:focus {
    outline: -webkit-focus-ring-color auto 1px;
}


table {
    border-spacing: 0;
}

.size-config {
    font-size: 20px;
    margin-right: 0;
    /* color: #005282; */
    /* text-decoration: underline; */
}
/* 
.size-config:hover {
    text-decoration: none;
    cursor: pointer;
} */

.size-config:active {
    background-color: #005282;
    color: white;
}


td {
    border: 1px solid #333;
    text-align: center;
}

.noborder {
    border-width: 0;
}

#solve-button {
    width: 100px;
    height: 50px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-bottom: 10px;
}

#solve-button:disabled {
    outline-width: 0;
}

#solutions-found-text {
    font-size: 20px;
}

#clear-button {
    width: 80px;
    height: 40px;
    outline-color: red;
    color: rgb(107, 65, 65);
    margin-top: 30px;
    margin-bottom: 10px;
}


.btn {
    font-family: monospace;
    border-style: hidden;
    font-size: 20px;
}

.btn:hover {
    /* border-style: outset; */
    outline: black outset 2px;
}